/* Général */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 1rem;
    background-color: rgba(30,30,47,0.5);
}
#contenu{
    margin-top: 1rem;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
/* Couleurs */
td .achat {
    color: #85CB33;
}
td .vente{
    color: #C42021;
}
.pinky{
    color:#BA54F5;
}
.btn-perso{
    background: white;
    color: #BA54F5;
}

/* Textes */
.txt-20px{
    font-size: 20px;
    margin:0 auto;
}
.txt-3rem{
    font-size: 3rem;
    margin:0 auto;
}
.semi-colon{
    width: 50%;
}
.margin-top-3rem{
    margin-top: 3rem;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    top:10px;
}
.modal .modal-profile {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 5.7;
    box-shadow: 0 5px 50px 0 rgba(0,0,0,.3);
}
.form-check-sign{
    background: rgb(30,30,47);
    color:white;
}
.w90{
    width: 90%;
}
.h4rem{
    height: 4rem;
}
.nav>li {
    float: left;
}
.tableDiv {
    overflow: auto;
    max-height: 650px;
}
@media screen and (max-height: 768px){
    .tableDiv {
        max-height: 475px;
    }
}
@media screen and (max-width: 768px){
    .tableDiv {
        max-height: 475px;
    }
    #fixMobile {
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 408px){
    #fixMobile {
        margin-bottom: 4rem;
    }
}
.tableDiv thead tr { position: sticky; top:0; z-index: 1; background: #27293d;}