/* Général */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 1rem;
    background-color: rgba(30,30,47,0.5);
}
#contenu{
    margin-top: 1rem;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
/* Textes */
.txt-20px{
    font-size: 20px;
    margin:0 auto;
}
.txt-3rem{
    font-size: 3rem;
    margin:0 auto;
}
.semi-colon{
    width: 50%;
}
.margin-top-3rem{
    margin-top: 3rem;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    top:10px;
}
.modal .modal-profile {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 5.7;
    box-shadow: 0 5px 50px 0 rgba(0,0,0,.3);
}
.form-check-sign{
    background: rgb(30,30,47);
    color:white;
}
.w90{
    width: 90%;
}
.h4rem{
    height: 4rem;
}
.nav>li {
    float: left;
}
#tablePorteactionsDiv {
    overflow: auto;
    min-height: 40rem;
    height: 40rem;
    max-height: 40rem;
}
#tableClassementDiv{
    overflow: auto;
    min-height: 45rem;
    height: 45rem;
    max-height: 45rem;
}
#tablePortefeuilleDiv{
    overflow: auto;
    min-height: 20rem;
    height: 20rem;
    max-height: 20rem;
}
@media screen and (max-height: 768px){
    #tablePorteactionsDiv {
        min-height: 29rem;
        height: 29rem;
        max-height: 29rem;
    }
    #tableClassementDiv{
        min-height: 34rem;
        height: 34rem;
        max-height: 34rem;
    }
}
@media screen and (max-width: 768px){
    .tableDiv {
        min-height: 34rem;
        height: 34rem;
        max-height: 34rem;
    }
    #fixMobile {
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 408px){
    #fixMobile {
        margin-bottom: 4rem;
    }
}
.tableDiv thead tr { position: sticky; top:0; z-index: 1; background: #27293d;}
#tablePortefeuille thead tr { background: #212941; }

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #e14eca; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.btn-vert{
    background: #85CB33;
}
.text-green{
    color: #85CB33;
}
.modal-open .modal.modal-allow-overflow {
    overflow: visible;
}